<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-own.css') }}" type="text/css">
    <title>Cooking Fever</title>
</head>
<body>

  <!-- Responsive navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container px-5">
          <a class="navbar-brand" href="{{ url_for('index') }}">Cooking Fever</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{ url_for('recipes') }}">Recipes</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
              </ul>
          </div>
      </div>
  </nav>

  <!-- Page Content-->
  <div class="container px-4 px-lg-5">
         <!-- Heading Row-->
         <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                    src="https://images.pexels.com/photos/2284166/pexels-photo-2284166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""/></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Cooking Fever</h1>
                <p>Get your cooking skills on with Cooking Fever, the platform for the most delicious recipes! Choose
                    between a variety of recipes, such as Asian or Italian meals or vegan and even kid-friendly meals, or share your knowlegde with us
                    and add your own recipes! Enjoy the Cooking Fever infection!</p>
                <a class="btn btn-primary" href="#!">Call to Action!</a>
            </div>
        </div>
    
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body">
                <p class="text-white m-0">This call to action card is a great place to showcase some important information
                    or display a clever tagline!</p>
            </div>
        </div>

    {% block content %}
    {% endblock %}

     
  </div>

  <!-- Footer-->
  <footer class="py-5 bg-dark">
      <div class="container px-4 px-lg-5">
          <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>
      </div>
  </footer>

  <!-- Bootstrap core JS-->
  <script
      src="{{ url_for ('static', filename='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js') }}">
  </script>

  <!-- Core theme JS-->
  <script src="{{ url_for ('static', filename='js/scripts.js') }}"></script>

</body>
</html>