{% extends "base.html" %}
{% block content %}

    <h2>{{ page_title }}</h2>

    {% for recipe in recipes %}

        <div class="container px-4 px-lg-5">
            <div class="row featurette">
                <div class="col-md-7">
                    <h3><a href="/recipes/{{ recipe.url }}">{{ recipe.name }}</a></h3>
                    <p>{{ recipe.description }}</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ recipe.img_source }}" alt="Image for {{ recipe.name }}" class="featurette-image image-responsive">
                </div>
            </div>
        </div>

        <hr class="featurette-divider">

    {% endfor %}


{% endblock %}