{% extends 'base.html'%}
{% block content %}

    
    <div class="container px-4 px-lg-5"></div>
        <div class="row featurette">
            <div class="col-md-5">
                <img src="{{ recipe.img_source }}" alt="Image for {{ recipe.name }}" class="featurette-image image-responsive">
            </div>
            <div class="col-md-7">
                <h2>{{ recipe.name }}</h2>
                <p>{{ recipe.ingredients }}</p>
            </div>
        </div>
        <div class="row featurette">
            <div class="col-md-6">
                <p>{{ recipe.directions }}</p>
            </div>
            <div class="col-md-6">
                <p>nutritional values?</p>
            </div>
        </div>
    </div>


{% endblock %}