{% extends "base.html" %}
{% block content %}

    <h2>{{ page_title }}</h2>

    {% for recipe in recipes %}

        <div class="row featurette">
            <div class="col-md-8">
                <h3><a href="/recipe/{{ recipe.url }}">{{ recipe.name }}</a></h3>
                <p>{{ recipe.directions }}</p>
            </div>
            <div class="col-md-4">
                <img src="{{ recipe.img_source }}" alt="" class="featurette-image image-responsive">
            </div>
        </div>

        <hr class="featurette-divider">

    {% endfor %}


{% endblock %}